html {
  height: 100%;
}

body {
  display: grid;
  grid-template-areas: "mainHeader" "mainContent" "mainFooter";
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
}

header.main-header {
  grid-area: mainHeader;
  color: $white;
  background: $gray-700;
}

main.main-content {
  padding: #{$spacer * 2} 0;
}

footer.main-footer {
  color: $white;
  background: $gray-700;
}
